<div class="container">
    <div>
        <mat-grid-list cols="3" rowHeight="3:1.5" gutterSize="40">
            <mat-grid-tile 
                id="main-grid-img"
                [rowspan]="3">
                <img class="main-img" mat-card-image src="assets/img/sailor-cat.jpg" alt="A cat with a sailor hat" style="border-radius: 100px;"/>
            </mat-grid-tile>
            <mat-grid-tile 
                id="main-grid-text"
                [rowspan]="3"
                [colspan]="2">
                    <div>
                        <p>
                            Mi nombre es <span class="colored-text">Brayan Camilo</span>.  
                            <br>
                            Tecnólogo en Desarrollo de Software y técnico en Mantenimiento de Computadores de <span class="colored-text">Itagüí, Antioquia.</span>
                        </p>
                        <p>
                            <span class="colored-text">¡Hola!</span> Soy tecnólogo en D. de Software de la I. U. Pascual Bravo de Medellín y técnico en Mantenimiento de Computadores.
                            <br>
                            <br>
                            Me considero una persona con templanza, responsable, respetuosa y comprometida con capacidad para trabajar en equipo y dispuesta a aprender nuevas tecnologías.
                            <br>
                            <br>
                            Me gusta hacer ejercicio, leer cosas pequeñas, jugar a videojuegos y, en algún momento, estuve intentando ser creador de contenidos, grabando y editando mis propios vídeos. 
                            También me interesa la animación y actualmente estoy aprendiendo a animar por mi cuenta.
                            <br>
                            <br>
                            <span class="colored-text">Como técnico</span> no he tenido un trabajo formal, he hecho mantenimiento a hardware y mantenimiento e instalación a sistemas operativos.
                            <br>
                            <span class="colored-text">Como desarrollador</span> hice pequeñas aplicaciones en mis prácticas estudiantiles para la automatización y el proceso de datos.
                            Estoy muy interesado en el desarrollo de software y he practicado el desarrollo frontend, así como el desarrollo backend por mi cuenta.
                            <br>
                            <br>
                        </p>
                    </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
